// TAGS

body {
  font-family: 'SFUID-Regular', sans-serif;
  color: $navy-blue;
}

// SCROLLS

::-webkit-scrollbar { 
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(-70deg, $green 10%, $blue 100%);
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(-70deg, $green-7 10%, $blue-8 100%);
}
::-webkit-scrollbar-thumb:active {
  background: -webkit-linear-gradient(-70deg, $green-8 10%, $blue-9 100%);
}

// FONTS

@font-face {
  font-family: SFUID-Black;
  src: url('../assets/fonts/SF-UI-Display-Black.otf');
}
@font-face {
  font-family: SFUID-Bold;
  src: url('../assets/fonts/SF-UI-Display-Bold.otf');
}
@font-face {
  font-family: SFUID-Regular;
  src: url('../assets/fonts/SF-UI-Display-Regular.otf');
}
.font-sfuid-black {
  font-family: 'SFUID-Black', sans-serif;
}
.font-sfuid-bold {
  font-family: 'SFUID-Bold', sans-serif;
}
.font-sfuid-regular {
  font-family: 'SFUID-Regular', sans-serif;
}

// BACKGROUND COLORS

.bg-navy-blue {
  background-color: $navy-blue !important;
}
.bg-faded-grey {
  background: $faded-grey;
}

// TEXT COLORS

.text-grad-mint-blue {
  background: -webkit-linear-gradient(-70deg, $mint 10%, $blue-9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.text-faded-grey {
  color: $faded-grey;
}
.text-navy-blue {
  color: $navy-blue;
}

// DEV TESTING CSS (for layouts, dimensions, margins, paddings testing)

.b1 {
  border: 2px solid $blue;
}
