// TAGS

body {
  font-family: 'Quicksand';
  color: $navy-blue;
}
a {
  text-decoration: none;
  color: $blue-9
}
h1, h2, h3 {
  font-family: 'Pangolin';
  font-weight: 600;
  letter-spacing: 3px;
}

// SCROLLS

::-webkit-scrollbar { 
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    -70deg,
    white 0%,
    $mint 10%,
    $mint-1 90%,
    white 100%
  );
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(
    -70deg,
    white 0%,
    $mint 10%,
    $mint-1 50%,
    $mint-2 90%,
    white 100%
    );
  }
::-webkit-scrollbar-thumb:active {
  background: -webkit-linear-gradient(
    -70deg,
    white 0%,
    $mint-2 10%,
    $green 90%,
    white 100%
  );
}

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');
@font-face {
  font-family: Pangolin;
  src: url('../assets/fonts/Pangolin-Regular.ttf');
}
@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/Quicksand.ttf');
}

.font-akshar {
  font-family: 'Akshar';
}
.font-quicksand {
  font-family: 'Quicksand';
}
.font-pangolin {
  font-family: 'Pangolin';
}

// BACKGROUND COLORS

.bg-navy-blue {
  background-color: $navy-blue !important;
}
.bg-navy-blue-1 {
  background-color: $navy-blue-1 !important;
}
.bg-mint {
  background-color: $mint !important;
}
.bg-mint-1 {
  background-color: $mint-1 !important;
}
.bg-grad-red {
  background: linear-gradient(
    315deg,
    $red-5,
    $red-3
  );
}
.bg-grad-mint {
  background: linear-gradient(
    315deg,
    $mint-1,
    $mint
  );
}

// TEXT COLORS

.text-grad-mint {
  background: -webkit-linear-gradient(-70deg, $mint 10%, $mint-2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.text-faded-grey-1 {
  color: $faded-grey-1 !important;
}
.text-faded-grey-2 {
  color: $faded-grey-2 !important;
}
.text-navy-blue {
  color: $navy-blue !important;
}
.text-mint {
  color: $mint !important;
}
.text-mint-1 {
  color: $mint-1 !important;
}

// TRANSITIONS/ANIMATIONS

.transition-up-20 {
  top: 0;
  position: relative;
  transition: top ease 0.5s;
}
.transition-up-20:hover {
  top: -20px;
}

// BORDERS

.br-10 {
  border-radius: 10px;
}
.br-30 {
  border-radius: 30px;
}
.br-10-p {
  border-radius: 10%;
}
.br-50-p {
  border-radius: 50%;
}
.br-l-30 {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}
.br-r-30 {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.br-t-30 {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
.br-b-30 {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.br-tl-24 {
  border-top-left-radius: 24px !important;
}

// TRANSFORMS

.rotate-350 {
  transform: rotate(350deg);
}
.rotate-10 {
  transform: rotate(10deg);
}

// WRAPS

.hyphen-word-wrap {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

// MARGINS, PADDINGS

.mt-n-60 {
  margin-top: -60px;
}

// DIMENSIONS (HEIGHT, WIDTH)

.h-11 {
  height: 11%;
}
.h-12 {
  height: 12%;
}
.h-33 {
  height: 33%;
}
.h-34 {
  height: 34%;
}
.h-50 {
  height: 50%;
}

// COMPONENT or EVENT-SPECIFIC

.flag {
  min-width: 320px;
  min-height: 210px;
  border-radius: 30px;
}
.hover-label {
  color: white;
  text-align: center;
  font-family: 'Quicksand';
  text-shadow:
   -3px -3px 0 $navy-blue,  
    3px -3px 0 $navy-blue,
    -3px 3px 0 $navy-blue,
     3px 3px 0 $navy-blue;
}
.hover-label-div {
  background-color: $dark;
  border-radius: 24px;
  opacity: 0.5;
}

// DEV TESTING CSS (borders for testing layouts, dimensions, margins, paddings testing)

.b3-blue {
  border: 3px solid $blue;
}
.b3-red {
  border: 3px solid $red;
}
.b3-orange {
  border: 3px solid $orange;
}
.b3-green {
  border: 3px solid $green;
}
